target/
.idea/
.vscode/
*.iml
src/main/resources/google-oauth.properties
src/main/resources/mail.properties
src/main/resources/cloudflare.properties
src/main/resources/cloudinary.properties
src/main/resources/voice.properties
